html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.one {
    background-color: #1f2937;
    padding: 10px;
    padding-left: 8em;
    padding-right: 8em;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navlinks {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.headlink {
    font-size: 18px;
    text-decoration: none;
}

.containerone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4em;
    gap: 20px;
}

.leftone {
    justify-content: left;
    width: 400px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.heromain {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.herosecond {
    padding-top: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: .33rem;
    border: none;
    padding: .25em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.rightone {
    display: flex;
    justify-content: right;
    align-items: center;
}

.two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.containertwo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.toptwo {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.boxestwo {
    max-width: 100px;
    align-items: center;
}

.imgtwo {
    width: 3em;
    padding-left: 1.75em;
    padding-right: 1em;
}

.texttwo {
    flex-wrap: wrap;
    font-size: smaller;
    color: gray;
    text-align: center;
}

.three {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e5e7eb;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.attribution {
    display: flex;
    color: #1f2937;
    font-weight: bolder;
    justify-content: right;

}

.four {
    display: flex;
    margin: 100px;
    justify-content: center;

}

.containerfour {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 30px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: .75em;
    display: flex;
    align-items: center;
    gap: 200px;
}

.boldfour {
    font-size: 24px;
    font-weight: bold;
}

.regfour {
    color: #99ccff;
}

.buttonfour {
    border: solid white;
    height: fit-content;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 40px;
}